application:
  hooks:
    pre-app-build: ./hooks/pre-app-build.js
  actions: actions
  runtimeManifest:
    packages:
      # Do not change the action `commerce-checkout-starter-kit/info` as it is used by tracking purposes
      commerce-checkout-starter-kit:
        license: Apache-2.0
        actions:
          info:
            function: actions/commerce-checkout-starter-kit-info/index.js
            web: 'yes'
            runtime: nodejs:22
            annotations:
              require-adobe-auth: true
              final: true
          generic:
            function: actions/generic/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
            annotations:
              require-adobe-auth: true
              final: true
          # https://developer.adobe.com/commerce/extensibility/starter-kit/checkout/payment-use-cases/
          validate-payment:
            function: actions/validate-payment/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              COMMERCE_PAYMENT_METHOD_CODES: $COMMERCE_PAYMENT_METHOD_CODES
              COMMERCE_WEBHOOKS_PUBLIC_KEY: $COMMERCE_WEBHOOKS_PUBLIC_KEY
              #  https://github.com/adobe/aio-lib-telemetry/blob/main/docs/usage.md#setting-the-enable_telemetry-environment-variable
              ENABLE_TELEMETRY: true
            annotations:
              require-adobe-auth: false
              raw-http: true
              final: true
          filter-payment:
            function: actions/filter-payment/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              COMMERCE_WEBHOOKS_PUBLIC_KEY: $COMMERCE_WEBHOOKS_PUBLIC_KEY
              ENABLE_TELEMETRY: true
            annotations:
              require-adobe-auth: false
              raw-http: true
              final: true
          # https://developer.adobe.com/commerce/extensibility/starter-kit/checkout/shipping-use-cases/
          shipping-methods:
            function: actions/shipping-methods/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              COMMERCE_WEBHOOKS_PUBLIC_KEY: $COMMERCE_WEBHOOKS_PUBLIC_KEY
              ENABLE_TELEMETRY: true
            annotations:
              require-adobe-auth: false
              raw-http: true
              final: true
          # https://developer.adobe.com/commerce/extensibility/starter-kit/checkout/tax-use-cases/
          collect-taxes:
            function: actions/collect-taxes/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              COMMERCE_WEBHOOKS_PUBLIC_KEY: $COMMERCE_WEBHOOKS_PUBLIC_KEY
              ENABLE_TELEMETRY: true
            annotations:
              require-adobe-auth: false
              raw-http: true
              final: true
          # https://developer.adobe.com/commerce/extensibility/starter-kit/checkout/use-cases/
          consume:
            function: actions/commerce-events/consume.js
            web: 'no'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
            annotations:
              require-adobe-auth: true
              final: true
      3rd-party-events:
        license: Apache-2.0
        actions:
          publish:
            function: actions/3rd-party-events/publish.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              # IMS credentials
              AIO_COMMERCE_AUTH_IMS_CLIENT_ID: $AIO_COMMERCE_AUTH_IMS_CLIENT_ID
              AIO_COMMERCE_AUTH_IMS_CLIENT_SECRETS: $AIO_COMMERCE_AUTH_IMS_CLIENT_SECRETS
              AIO_COMMERCE_AUTH_IMS_TECHNICAL_ACCOUNT_ID: $AIO_COMMERCE_AUTH_IMS_TECHNICAL_ACCOUNT_ID
              AIO_COMMERCE_AUTH_IMS_TECHNICAL_ACCOUNT_EMAIL: $AIO_COMMERCE_AUTH_IMS_TECHNICAL_ACCOUNT_EMAIL
              AIO_COMMERCE_AUTH_IMS_ORG_ID: $AIO_COMMERCE_AUTH_IMS_ORG_ID
              AIO_COMMERCE_AUTH_IMS_SCOPES: $AIO_COMMERCE_AUTH_IMS_SCOPES
              # Commerce integration credentials
              AIO_COMMERCE_AUTH_INTEGRATION_CONSUMER_KEY: $AIO_COMMERCE_AUTH_INTEGRATION_CONSUMER_KEY
              AIO_COMMERCE_AUTH_INTEGRATION_CONSUMER_SECRET: $AIO_COMMERCE_AUTH_INTEGRATION_CONSUMER_SECRET
              AIO_COMMERCE_AUTH_INTEGRATION_ACCESS_TOKEN: $AIO_COMMERCE_AUTH_INTEGRATION_ACCESS_TOKEN
              AIO_COMMERCE_AUTH_INTEGRATION_ACCESS_TOKEN_SECRET: $AIO_COMMERCE_AUTH_INTEGRATION_ACCESS_TOKEN_SECRET
              AIO_EVENTS_PROVIDERMETADATA_TO_PROVIDER_MAPPING: $AIO_EVENTS_PROVIDERMETADATA_TO_PROVIDER_MAPPING
              AIO_CLI_ENV: $AIO_CLI_ENV
            annotations:
              require-adobe-auth: true
              final: true
          consume:
            function: actions/3rd-party-events/consume.js
            web: 'no'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
            annotations:
              require-adobe-auth: true
              final: true

extensions:
  commerce/backend-ui/1:
    $include: commerce-backend-ui-1/ext.config.yaml

  commerce/configuration/1:
    $include: commerce-configuration-1/ext.config.yaml
    hooks:
      pre-app-build: npx @adobe/aio-commerce-lib-config generate schema

productDependencies:
  - code: COMMC
    minVersion: 2.4.5
