# To configure Commerce instance to allow this creds please follow https://developer.adobe.com/commerce/extensibility/starter-kit/checkout/connect/
# Option 1: Authenticate with IMS
# The OAuth configs are available on the Credential Details page in AppBuilder under Organization > Project > Workspace > OAuth Server-to-Server.
# These values are automatically populated from the AIO_ims_contexts_* variables in your .env file by the sync-oauth-credentials hook during the app build process.
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRETS=[""]
OAUTH_TECHNICAL_ACCOUNT_ID=
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
OAUTH_SCOPES=[""]
OAUTH_IMS_ORG_ID=

# Option 2: Authenticate with Commerce
#COMMERCE_CONSUMER_KEY=
#COMMERCE_CONSUMER_SECRET=
#COMMERCE_ACCESS_TOKEN=
#COMMERCE_ACCESS_TOKEN_SECRET=

# Environment for AIO: stage or prod (default)
#AIO_CLI_ENV=

# General Commerce Configuration
# Commerce REST endpoint should finish with slash '/'
# Examples:
# - Commerce Admin REST endpoints: https://{commerce_instance_url}/rest/{store_view_code}/
# - Adobe Commerce Cloud as a Service: https://na1.api.commerce.adobe.com/{tenant_code}/
COMMERCE_BASE_URL=
# Required if webhooks are used and signature verification is enabled
COMMERCE_WEBHOOKS_PUBLIC_KEY=
# Contains the mapping of the event provider metadata and the provider id
AIO_EVENTS_PROVIDERMETADATA_TO_PROVIDER_MAPPING=

# Commerce Event Module configs
# These values will be used to configure the Adobe I/O Events module automatically
# that can be found at Stores > Configuration > Adobe Services > Adobe I/O Events > Commerce events
COMMERCE_ADOBE_IO_EVENTS_MERCHANT_ID=
COMMERCE_ADOBE_IO_EVENTS_ENVIRONMENT_ID=

# The payment method codes that this app is implementing, has to be in sync with the payment-methods.yaml file.
COMMERCE_PAYMENT_METHOD_CODES=[""]
