operations:
  view:
    - type: web
      impl: index.html
actions: actions
web: web-src
runtimeManifest:
  packages:
    admin-ui-sdk:
      license: Apache-2.0
      actions:
        registration:
          function: actions/registration/index.js
          web: 'yes'
          runtime: 'nodejs:24'
          inputs:
            LOG_LEVEL: debug
          annotations:
            require-adobe-auth: true
            final: true
    CustomMenu:
      license: Apache-2.0
      actions:
        commerce-rest-api:
          function: actions/commerce/index.js
          web: 'yes'
          runtime: 'nodejs:24'
          inputs:
            LOG_LEVEL: debug
            AIO_CLI_ENV: $AIO_CLI_ENV
            COMMERCE_BASE_URL: $COMMERCE_BASE_URL
            # Admin UI SDK requires IMS auth, IMS credentials are used to access the Commerce API.
            OAUTH_CLIENT_ID: $OAUTH_CLIENT_ID
            OAUTH_CLIENT_SECRETS: $OAUTH_CLIENT_SECRETS
            OAUTH_TECHNICAL_ACCOUNT_ID: $OAUTH_TECHNICAL_ACCOUNT_ID
            OAUTH_TECHNICAL_ACCOUNT_EMAIL: $OAUTH_TECHNICAL_ACCOUNT_EMAIL
            OAUTH_SCOPES: $OAUTH_SCOPES
            OAUTH_IMS_ORG_ID: $OAUTH_IMS_ORG_ID
          annotations:
            require-adobe-auth: true
            final: true
