operations:
  view:
    - type: web
      impl: index.html
actions: actions
web: web-src
runtimeManifest:
  packages:
    admin-ui-sdk:
      license: Apache-2.0
      actions:
        registration:
          function: actions/registration/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: debug
          annotations:
            require-adobe-auth: true
            final: true
    CustomMenu:
      license: Apache-2.0
      actions:
        commerce-rest-api:
          function: actions/commerce/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: debug
            AIO_CLI_ENV: $AIO_CLI_ENV
            AIO_COMMERCE_API_BASE_URL: $AIO_COMMERCE_API_BASE_URL
            # Admin UI SDK requires IMS auth, IMS credentials are used to access the Commerce API.
            AIO_COMMERCE_AUTH_IMS_CLIENT_ID: $AIO_COMMERCE_AUTH_IMS_CLIENT_ID
            AIO_COMMERCE_AUTH_IMS_CLIENT_SECRETS: $AIO_COMMERCE_AUTH_IMS_CLIENT_SECRETS
            AIO_COMMERCE_AUTH_IMS_TECHNICAL_ACCOUNT_ID: $AIO_COMMERCE_AUTH_IMS_TECHNICAL_ACCOUNT_ID
            AIO_COMMERCE_AUTH_IMS_TECHNICAL_ACCOUNT_EMAIL: $AIO_COMMERCE_AUTH_IMS_TECHNICAL_ACCOUNT_EMAIL
            AIO_COMMERCE_AUTH_IMS_SCOPES: $AIO_COMMERCE_AUTH_IMS_SCOPES
            AIO_COMMERCE_AUTH_IMS_IMS_ORG_ID: $AIO_COMMERCE_AUTH_IMS_IMS_ORG_ID
          annotations:
            require-adobe-auth: true
            final: true
